@font-face {
  font-family: "El Messiri";
  src: url("../../fonts/El_Messiri/ElMessiri-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "El Messiri";
  src: url("../../fonts/El_Messiri/ElMessiri-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "El Messiri";
  src: url("../../fonts/El_Messiri/ElMessiri-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "El Messiri";
  src: url("../../fonts/El_Messiri/ElMessiri-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("../../fonts/Old_Standard_TT/OldStandardTT-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Old Standard TT";
  src: url("../../fonts/Old_Standard_TT/OldStandardTT-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "AlbertSans";
  src: url("../../fonts/AlbertSans/AlbertSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
