.reviews {
    background: var(--color-bg-primary);
    font-family: "El Messiri", sans-serif;
    padding-top: 45px;
    padding-bottom: 55px;
    position: relative;
    z-index: 2;
}

.reviews__image {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    z-index: -1;
}

.reviews__inner {
    width: min(100% - (var(--container-padding) * 2), var(--container-width));
    margin: 0 auto;
}

.reviews__title {
    font-weight: 400;
    font-size: var(--font-h1);
    line-height: 83%;
    color: var(--color-text-light-second);
    margin-bottom: 23px;
    text-align: center;
}

.reviews__subtitle {
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: var(--font-h2);
    max-width: 670px;
    text-align: center;
    color: var(--color-text-light-second);
    margin-bottom: 18px;
}

.reviews__body {
    position: relative;
    margin-bottom: 25px;
}

.reviews__slider {
    padding: 20px 0;
}

.reviews__slide {
    height: auto;
    border-radius: var(--radius-sm);
    background: url('../images/reviews/background-slide.png') 0 0 / 100% 100% no-repeat;
    padding: 11px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}


.reviews__name {
    font-family: "AlbertSans";
    font-style: italic;
    font-weight: 400;
    font-size: var(--font-h3);
    color: var(--color-text-accent);
    margin-top: 0;
    margin-bottom: 11px;
}

.reviews__text {
    font-family: "AlbertSans";
    font-style: italic;
    font-weight: 400;
    font-size: var(--font-p);
    color: var(--color-text-light);
}

.reviews__prev {
    background-color: transparent;
    border: none;
    color: var(--color-bg-light);
    top: auto !important;
    left: -70px !important;
    bottom: -20px !important;
    transition: var(--transition);
    width: 210px;
}

.reviews__prev path {
    transition: var(--transition);
}

.reviews__next {
    background-color: transparent;
    border: none;
    color: var(--color-bg-light);
    top: auto !important;
    right: -70px !important;
    bottom: -20px !important;
    transition: var(--transition);
    width: 210px;
}

.reviews__next path {
    transition: var(--transition);
}

.reviews__block {
    text-align: right;
    margin-left: auto;
    max-width: 400px;
    margin-bottom: 45px;
}

.reviews__heading {
    font-weight: 400;
    line-height: 109%;
    font-size: var(--font-h3);
    color: var(--color-text-light-second);
    margin-bottom: 16px;
}

.reviews__caption {
    color: var(--color-text-accent);
    font-weight: 400;
    font-size: var(--font-p);
    line-height: 96%;
    text-align: right;
}

.reviews__link {
    font-family: var(--font-family-accent);
    text-align: center;
    transition: var(--transition);
    font-weight: var(--button-font-weight);
    font-size: var(--button-font-size);
    background-color: var(--button-primary-bg);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    max-width: var(--button-large-width);
    min-height: var(--button-large-height);
    color: var(--button-primary-text);
    border-radius: var(--radius-lg);
}

@media (max-width: 1350px) {
    .reviews__prev {
        left: -15px !important;
        width: 180px;
    }

    .reviews__next {
        right: -15px !important;
        width: 180px;

    }
}

@media (max-width: 767px) {
    .reviews__prev {
        width: 65px;
    }

    .reviews__next {
        width: 65px;
    }

    .reviews__inner {
        width: min(100% - 40px, 335px);
    }

    .reviews {
        padding-top: 22px;
        padding-bottom: 57px;
    }

    .reviews__title {
        font-size: var(--font-h1-base);
        margin-bottom: 6px;
        line-height: 118%;
    }

    .reviews__subtitle {
        font-size: var(--font-h2-base);
        margin-bottom: 0;
line-height: 160%;
max-width: 290px;
    }

    .reviews__body {
        margin-bottom: 35px;
    }

    .reviews__slide {
        padding: 6px;
    }

    .reviews__name {
        font-size: var(--font-h3-base);
        margin-bottom: 6px;
    }

    .reviews__text {
        font-size: var(--font-p-small-bas);
    }

    .reviews__block {
        max-width: 216px;
        margin-bottom: 68px;
    }

    .reviews__heading {
        font-size: var(--font-h3-base);
        margin-bottom: 7px;
        line-height: 156%;
    }

    .reviews__caption {
        font-size: var(--font-p-base);
        line-height: 167%;
    }

    .reviews__link {
        font-size: var(--font-h2-base);
        border-radius: var(--radius-md);
        max-width: var(--button-large-mobile-width);
        min-height: var(--button-large-mobile-height);
    }

    .reviews__image {
        bottom: 0;
    }

}

@media (any-hover: hover) {
    .reviews__link:hover {
        background: var(--button-primary-hover-bg);
    }

    .reviews__prev:hover path {
        fill: var(--button-bg-yellow);
    }

    .reviews__next:hover path {
        fill: var(--button-bg-yellow);
    }
}